{% extends 'news/base.html' %}
{% load static %}

{% block content %}

<div class="container mt-4">
    <div class="row">
        <div class="col-12">
            <!-- Intro News Filter -->
            <div class="intro-news-filter d-flex justify-content-between">
                <h6>So'nggi Yangiliklar</h6>
            </div>
        </div>
    </div>
</div>

<!-- ##### Breaking News Area Start ##### -->
<section class="breaking-news-area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- Breaking News Widget -->
                <div class="breaking-news-ticker d-flex flex-wrap align-items-center">
                    <div class="title">
                        <h6>BUGUN</h6>
                    </div>
                    <div id="breakingNewsTicker" class="ticker">
                        <ul>
                            {% for news in news_list %}
                            <li><a href="{% url 'news_detail_page' news.pk %}">{{ news.title }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ##### Breaking News Area End ##### -->


<!-- ##### Hero Area Start ##### -->
<div class="hero-area">
    <!-- Hero Post Slides -->
    <div class="hero-post-slides owl-carousel">

        <!-- Single Slide -->
        <div class="single-slide">
            <div class="container">
                <div class="row">
                    <!-- Chap tarafdagi post (katta) -->
                    <div class="col-12 col-md-6">
                        {% for news in news_list %}
                        {% if forloop.first %}
                        <div class="single-blog-post style-1 left-big-post" data-animation="fadeInUpBig"
                            data-delay="100ms" data-duration="1000ms">
                            <!-- Blog Thumbnail -->
                            <div class="blog-thumbnail bg-overlay">
                                <a href="{% url 'news_detail_page' news.pk %}"><img src="{{ news.image.url }}"
                                        alt="{{ news.title }}"></a>
                            </div>

                            <!-- Blog Content -->
                            <div class="blog-content">
                                <span class="post-date">{{ news.publish_time }}</span>
                                <a href="{% url 'news_detail_page' news.pk %}"
                                    class="post-title post-title-ellipsis-2">{{ news.title }}</a>
                            </div>
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>

                    <!-- O'ng tarafdagi 3 ta post (kichik) -->
                    <div class="col-12 col-md-6">
                        {% for news in news_list %}
                        {% if not forloop.first and forloop.counter < 4 %} <div
                            class="single-blog-post style-1 right-post" data-animation="fadeInUpBig" data-delay="300ms"
                            data-duration="1000ms">
                            <!-- Blog Thumbnail -->
                            <div class="blog-thumbnail bg-overlay">
                                <a href="{% url 'news_detail_page' news.pk %}"><img src="{{ news.image.url }}"
                                        alt="{{ news.title }}"></a>
                            </div>

                            <!-- Blog Content -->
                            <div class="blog-content">
                                <span class="post-date">{{ news.publish_time }}</span>
                                <a href="{% url 'news_detail_page' news.pk %}"
                                    class="post-title post-title-ellipsis-2">{{ news.title }}</a>
                            </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>

        </div>
    </div>

</div>
</div>
<!-- ##### Hero Area End ##### -->


<div class="container mt-4">
    <div class="row">
        <div class="col-12">
            <!-- Intro News Filter -->
            <div class="intro-news-filter d-flex justify-content-between">
                <h6>So'nggi Yangiliklar</h6>
            </div>
        </div>
    </div>
    <div class="row">
        {% for news in news_list|slice:"6" %}
        <div class="col-12 col-sm-6">
            <div class="single-blog-post d-flex style-4 mb-30">
                <!-- Blog Thumbnail -->
                <div class="blog-thumbnail">
                    <a href="{% url 'news_detail_page' news.pk %}">
                        <img class="news-thumbnail-img" src="{{ news.image.url }}" alt="{{ news.title }}">
                    </a>
                </div>

                <!-- Blog Content -->
                <div class="blog-content">
                    <span class="post-date">{{ news.publish_time }}</span>
                    <a href="{% url 'news_detail_page' news.pk %}" class="post-title post-title-ellipsis-2">
                        {{ news.title }}
                    </a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>



<!-- ##### Intro News Area Start ##### -->
<section class="intro-news-area section-padding-100-0 mb-70">
    <div class="container">
        <div class="row justify-content-center">
            <!-- Intro News Tabs Area -->
            <div class="col-12 col-lg-8">
                <div class="intro-news-tab">

                    <!-- Intro News Filter -->
                    <div class="intro-news-filter d-flex justify-content-between">
                        <h6>Ko'p o'qilagan</h6>
                        <nav>
                            <div class="nav nav-tabs" id="nav-tab" role="tablist">

                                <a class="nav-item nav-link active" id="nav1" data-toggle="tab" href="#nav-1" role="tab"
                                    aria-controls="nav-1" aria-selected="true">Sport</a>

                                <a class="nav-item nav-link" id="nav2" data-toggle="tab" href="#nav-2" role="tab"
                                    aria-controls="nav-2" aria-selected="false">Siyosat</a>

                                <a class="nav-item nav-link" id="nav3" data-toggle="tab" href="#nav-3" role="tab"
                                    aria-controls="nav-3" aria-selected="false">Texnologiya</a>

                            </div>
                        </nav>
                    </div>

                    <div class="tab-content" id="nav-tabContent">

                        <div class="tab-pane fade show active" id="nav-1" role="tabpanel" aria-labelledby="nav1">
                            <div class="row">
                                <!-- Single News Area -->
                                <div class="col-12 col-sm-6">
                                    <div class="single-blog-post style-2 mb-5">
                                        <!-- Blog Thumbnail -->
                                        <div class="blog-thumbnail">
                                            <a href="#"><img src="{% static 'img/bg-img/14.jpg' %}" alt=""></a>
                                        </div>

                                        <!-- Blog Content -->
                                        <div class="blog-content">
                                            <span class="post-date">June 20, 2018</span>
                                            <a href="#" class="post-title">Elon Musk: Tesla worker admitted to
                                                sabotage</a>
                                            <a href="#" class="post-author">By Michael Smith</a>
                                        </div>
                                    </div>
                                </div>

                                <!-- Single News Area -->
                                <div class="col-12 col-sm-6">
                                    <div class="single-blog-post style-2 mb-5">
                                        <!-- Blog Thumbnail -->
                                        <div class="blog-thumbnail">
                                            <a href="#"><img src="{% static 'img/bg-img/15.jpg' %}" alt=""></a>
                                        </div>

                                        <!-- Blog Content -->
                                        <div class="blog-content">
                                            <span class="post-date">June 20, 2018</span>
                                            <a href="#" class="post-title">Rachel Sm ith breaks down while
                                                discussing border crisis</a>
                                            <a href="#" class="post-author">By Michael Smith</a>
                                        </div>
                                    </div>
                                </div>

                                <!-- Single News Area -->
                                <div class="col-12 col-sm-6">
                                    <div class="single-blog-post d-flex style-4 mb-30">
                                        <!-- Blog Thumbnail -->
                                        <div class="blog-thumbnail">
                                            <a href="#"><img src="{% static 'img/bg-img/16.jpg' %}" alt=""></a>
                                        </div>

                                        <!-- Blog Content -->
                                        <div class="blog-content">
                                            <span class="post-date">June 20, 2018</span>
                                            <a href="#" class="post-title">Nearly a quarter have no emergency
                                                savings</a>
                                        </div>
                                    </div>
                                </div>

                                <!-- Single News Area -->
                                <div class="col-12 col-sm-6">
                                    <div class="single-blog-post d-flex style-4 mb-30">
                                        <!-- Blog Thumbnail -->
                                        <div class="blog-thumbnail">
                                            <a href="#"><img src="{% static 'img/bg-img/17.jpg' %}" alt=""></a>
                                        </div>

                                        <!-- Blog Content -->
                                        <div class="blog-content">
                                            <span class="post-date">June 20, 2018</span>
                                            <a href="#" class="post-title">Nearly a quarter have no emergency
                                                savings</a>
                                        </div>
                                    </div>
                                </div>

                                <!-- Single News Area -->
                                <div class="col-12 col-sm-6">
                                    <div class="single-blog-post d-flex style-4 mb-30">
                                        <!-- Blog Thumbnail -->
                                        <div class="blog-thumbnail">
                                            <a href="#"><img src="{% static 'img/bg-img/18.jpg' %}" alt=""></a>
                                        </div>

                                        <!-- Blog Content -->
                                        <div class="blog-content">
                                            <span class="post-date">June 20, 2018</span>
                                            <a href="#" class="post-title">Top bitcoin exchange says over $30
                                                million stolen</a>
                                        </div>
                                    </div>
                                </div>

                                <!-- Single News Area -->
                                <div class="col-12 col-sm-6">
                                    <div class="single-blog-post d-flex style-4 mb-30">
                                        <!-- Blog Thumbnail -->
                                        <div class="blog-thumbnail">
                                            <a href="#"><img src="{% static 'img/bg-img/19.jpg' %}" alt=""></a>
                                        </div>

                                        <!-- Blog Content -->
                                        <div class="blog-content">
                                            <span class="post-date">June 20, 2018</span>
                                            <a href="#" class="post-title">Top bitcoin exchange says over $30
                                                million stolen</a>
                                        </div>
                                    </div>
                                </div>

                                <!-- Single News Area -->
                                <div class="col-12 col-sm-6">
                                    <div class="single-blog-post d-flex style-4 mb-30">
                                        <!-- Blog Thumbnail -->
                                        <div class="blog-thumbnail">
                                            <a href="#"><img src="{% static 'img/bg-img/20.jpg' %}" alt=""></a>
                                        </div>

                                        <!-- Blog Content -->
                                        <div class="blog-content">
                                            <span class="post-date">June 20, 2018</span>
                                            <a href="#" class="post-title">Dow falls 287 points as trade war fears
                                                escalate</a>
                                        </div>
                                    </div>
                                </div>

                                <!-- Single News Area -->
                                <div class="col-12 col-sm-6">
                                    <div class="single-blog-post d-flex style-4 mb-30">
                                        <!-- Blog Thumbnail -->
                                        <div class="blog-thumbnail">
                                            <a href="#"><img src="{% static 'img/bg-img/21.jpg' %}" alt=""></a>
                                        </div>

                                        <!-- Blog Content -->
                                        <div class="blog-content">
                                            <span class="post-date">June 20, 2018</span>
                                            <a href="#" class="post-title">Dow falls 287 points as trade war fears
                                                escalate</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="nav-2" role="tabpanel" aria-labelledby="nav2">
                            <div class="row">
                                <!-- Single News Area -->
                                <div class="col-12 col-sm-6">
                                    <div class="single-blog-post style-2 mb-5">
                                        <!-- Blog Thumbnail -->
                                        <div class="blog-thumbnail">
                                            <a href="#"><img src="{% static 'img/bg-img/4.jpg' %}" alt=""></a>
                                        </div>

                                        <!-- Blog Content -->
                                        <div class="blog-content">
                                            <span class="post-date">June 20, 2018</span>
                                            <a href="#" class="post-title">Elon Musk: Tesla worker admitted to
                                                sabotage</a>
                                            <a href="#" class="post-author">By Michael Smith</a>
                                        </div>
                                    </div>
                                </div>

                                <!-- Single News Area -->
                                <div class="col-12 col-sm-6">
                                    <div class="single-blog-post style-2 mb-5">
                                        <!-- Blog Thumbnail -->
                                        <div class="blog-thumbnail">
                                            <a href="#"><img src="{% static 'img/bg-img/5.jpg' %}" alt=""></a>
                                        </div>

                                        <!-- Blog Content -->
                                        <div class="blog-content">
                                            <span class="post-date">June 20, 2018</span>
                                            <a href="#" class="post-title">Rachel Sm ith breaks down while
                                                discussing border crisis</a>
                                            <a href="#" class="post-author">By Michael Smith</a>
                                        </div>
                                    </div>
                                </div>

                                <!-- Single News Area -->
                                <div class="col-12 col-sm-6">
                                    <div class="single-blog-post d-flex style-4 mb-30">
                                        <!-- Blog Thumbnail -->
                                        <div class="blog-thumbnail">
                                            <a href="#"><img src="{% static 'img/bg-img/16.jpg' %}" alt=""></a>
                                        </div>

                                        <!-- Blog Content -->
                                        <div class="blog-content">
                                            <span class="post-date">June 20, 2018</span>
                                            <a href="#" class="post-title">Nearly a quarter have no emergency
                                                savings</a>
                                        </div>
                                    </div>
                                </div>

                                <!-- Single News Area -->
                                <div class="col-12 col-sm-6">
                                    <div class="single-blog-post d-flex style-4 mb-30">
                                        <!-- Blog Thumbnail -->
                                        <div class="blog-thumbnail">
                                            <a href="#"><img src="{% static 'img/bg-img/17.jpg' %}" alt=""></a>
                                        </div>

                                        <!-- Blog Content -->
                                        <div class="blog-content">
                                            <span class="post-date">June 20, 2018</span>
                                            <a href="#" class="post-title">Nearly a quarter have no emergency
                                                savings</a>
                                        </div>
                                    </div>
                                </div>

                                <!-- Single News Area -->
                                <div class="col-12 col-sm-6">
                                    <div class="single-blog-post d-flex style-4 mb-30">
                                        <!-- Blog Thumbnail -->
                                        <div class="blog-thumbnail">
                                            <a href="#"><img src="{% static 'img/bg-img/18.jpg' %}" alt=""></a>
                                        </div>

                                        <!-- Blog Content -->
                                        <div class="blog-content">
                                            <span class="post-date">June 20, 2018</span>
                                            <a href="#" class="post-title">Top bitcoin exchange says over $30
                                                million stolen</a>
                                        </div>
                                    </div>
                                </div>

                                <!-- Single News Area -->
                                <div class="col-12 col-sm-6">
                                    <div class="single-blog-post d-flex style-4 mb-30">
                                        <!-- Blog Thumbnail -->
                                        <div class="blog-thumbnail">
                                            <a href="#"><img src="i{% static 'img/bg-img/19.jpg' %}" alt=""></a>
                                        </div>

                                        <!-- Blog Content -->
                                        <div class="blog-content">
                                            <span class="post-date">June 20, 2018</span>
                                            <a href="#" class="post-title">Top bitcoin exchange says over $30
                                                million stolen</a>
                                        </div>
                                    </div>
                                </div>

                                <!-- Single News Area -->
                                <div class="col-12 col-sm-6">
                                    <div class="single-blog-post d-flex style-4 mb-30">
                                        <!-- Blog Thumbnail -->
                                        <div class="blog-thumbnail">
                                            <a href="#"><img src="{% static 'img/bg-img/20.jpg' %}" alt=""></a>
                                        </div>

                                        <!-- Blog Content -->
                                        <div class="blog-content">
                                            <span class="post-date">June 20, 2018</span>
                                            <a href="#" class="post-title">Dow falls 287 points as trade war fears
                                                escalate</a>
                                        </div>
                                    </div>
                                </div>

                                <!-- Single News Area -->
                                <div class="col-12 col-sm-6">
                                    <div class="single-blog-post d-flex style-4 mb-30">
                                        <!-- Blog Thumbnail -->
                                        <div class="blog-thumbnail">
                                            <a href="#"><img src="{% static 'img/bg-img/21.jpg' %}" alt=""></a>
                                        </div>

                                        <!-- Blog Content -->
                                        <div class="blog-content">
                                            <span class="post-date">June 20, 2018</span>
                                            <a href="#" class="post-title">Dow falls 287 points as trade war fears
                                                escalate</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="nav-3" role="tabpanel" aria-labelledby="nav3">
                            <div class="row">
                                <!-- Single News Area -->
                                <div class="col-12 col-sm-6">
                                    <div class="single-blog-post style-2 mb-5">
                                        <!-- Blog Thumbnail -->
                                        <div class="blog-thumbnail">
                                            <a href="#"><img src="{% static 'img/bg-img/6.jpg' %}" alt=""></a>
                                        </div>

                                        <!-- Blog Content -->
                                        <div class="blog-content">
                                            <span class="post-date">June 20, 2018</span>
                                            <a href="#" class="post-title">Elon Musk: Tesla worker admitted to
                                                sabotage</a>
                                            <a href="#" class="post-author">By Michael Smith</a>
                                        </div>
                                    </div>
                                </div>

                                <!-- Single News Area -->
                                <div class="col-12 col-sm-6">
                                    <div class="single-blog-post style-2 mb-5">
                                        <!-- Blog Thumbnail -->
                                        <div class="blog-thumbnail">
                                            <a href="#"><img src="{% static 'img/bg-img/7.jpg' %}" alt=""></a>
                                        </div>

                                        <!-- Blog Content -->
                                        <div class="blog-content">
                                            <span class="post-date">June 20, 2018</span>
                                            <a href="#" class="post-title">Rachel Sm ith breaks down while
                                                discussing border crisis</a>
                                            <a href="#" class="post-author">By Michael Smith</a>
                                        </div>
                                    </div>
                                </div>

                                <!-- Single News Area -->
                                <div class="col-12 col-sm-6">
                                    <div class="single-blog-post d-flex style-4 mb-30">
                                        <!-- Blog Thumbnail -->
                                        <div class="blog-thumbnail">
                                            <a href="#"><img src="{% static 'img/bg-img/16.jpg' %}" alt=""></a>
                                        </div>

                                        <!-- Blog Content -->
                                        <div class="blog-content">
                                            <span class="post-date">June 20, 2018</span>
                                            <a href="#" class="post-title">Nearly a quarter have no emergency
                                                savings</a>
                                        </div>
                                    </div>
                                </div>

                                <!-- Single News Area -->
                                <div class="col-12 col-sm-6">
                                    <div class="single-blog-post d-flex style-4 mb-30">
                                        <!-- Blog Thumbnail -->
                                        <div class="blog-thumbnail">
                                            <a href="#"><img src="{% static 'img/bg-img/17.jpg' %}" alt=""></a>
                                        </div>

                                        <!-- Blog Content -->
                                        <div class="blog-content">
                                            <span class="post-date">June 20, 2018</span>
                                            <a href="#" class="post-title">Nearly a quarter have no emergency
                                                savings</a>
                                        </div>
                                    </div>
                                </div>

                                <!-- Single News Area -->
                                <div class="col-12 col-sm-6">
                                    <div class="single-blog-post d-flex style-4 mb-30">
                                        <!-- Blog Thumbnail -->
                                        <div class="blog-thumbnail">
                                            <a href="#"><img src="{% static 'img/bg-img/17.jpg' %}" alt=""></a>
                                        </div>

                                        <!-- Blog Content -->
                                        <div class="blog-content">
                                            <span class="post-date">June 20, 2018</span>
                                            <a href="#" class="post-title">Top bitcoin exchange says over $30
                                                million stolen</a>
                                        </div>
                                    </div>
                                </div>

                                <!-- Single News Area -->
                                <div class="col-12 col-sm-6">
                                    <div class="single-blog-post d-flex style-4 mb-30">
                                        <!-- Blog Thumbnail -->
                                        <div class="blog-thumbnail">
                                            <a href="#"><img src="{% static 'img/bg-img/19.jpg' %}" alt=""></a>
                                        </div>

                                        <!-- Blog Content -->
                                        <div class="blog-content">
                                            <span class="post-date">June 20, 2018</span>
                                            <a href="#" class="post-title">Top bitcoin exchange says over $30
                                                million stolen</a>
                                        </div>
                                    </div>
                                </div>

                                <!-- Single News Area -->
                                <div class="col-12 col-sm-6">
                                    <div class="single-blog-post d-flex style-4 mb-30">
                                        <!-- Blog Thumbnail -->
                                        <div class="blog-thumbnail">
                                            <a href="#"><img src="{% static 'img/bg-img/20.jpg' %}" alt=""></a>
                                        </div>

                                        <!-- Blog Content -->
                                        <div class="blog-content">
                                            <span class="post-date">June 20, 2018</span>
                                            <a href="#" class="post-title">Dow falls 287 points as trade war fears
                                                escalate</a>
                                        </div>
                                    </div>
                                </div>

                                <!-- Single News Area -->
                                <div class="col-12 col-sm-6">
                                    <div class="single-blog-post d-flex style-4 mb-30">
                                        <!-- Blog Thumbnail -->
                                        <div class="blog-thumbnail">
                                            <a href="#"><img src="{% static 'img/bg-img/21.jpg' %}" alt=""></a>
                                        </div>

                                        <!-- Blog Content -->
                                        <div class="blog-content">
                                            <span class="post-date">June 20, 2018</span>
                                            <a href="#" class="post-title">Dow falls 287 points as trade war fears
                                                escalate</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <!-- Sidebar Widget -->
            <div class="col-12 col-sm-9 col-md-6 col-lg-4 border border-warning">
                <div class="sidebar-area">

                    <!-- Newsletter Widget -->
                    <div class="single-widget-area newsletter-widget mb-30">
                        <h4>Subscribe to our newsletter</h4>
                        <form action="#" method="post">
                            <input type="email" name="nl-email" id="nlemail" placeholder="Your E-mail">
                            <button type="submit" class="btn newsbox-btn w-100">Subscribe</button>
                        </form>
                        <p class="mt-30">Nullam lacinia ex eleifend orci porttitor, suscipit interdum augue
                            condimentum. Etiam pretium turpis eget nibh . volutpat lobortis.</p>
                    </div>

                    <!-- Add Widget -->
                    <div class="single-widget-area add-widget mb-30">
                        <a href="#">
                            <img src="{% static 'img/bg-img/add3.png' %}" alt="">
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- ##### Intro News Area End ##### -->

<!-- ##### Video Area Start ##### -->
<section>
    <!-- Video Slideshow -->
    <div class="video-slideshow py-5">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- Video Slides -->
                    <div class="video-slides owl-carousel">

                        <!-- Single News Area -->
                        <div class="single-blog-post style-3">
                            <!-- Blog Thumbnail -->
                            <div class="blog-thumbnail">
                                <a href="#"><img src="{% static 'img/bg-img/11.jpg' %}" alt=""></a>
                                <a href="#" class="video-btn"><i class="fa fa-play" aria-hidden="true"></i></a>
                            </div>

                            <!-- Blog Content -->
                            <div class="blog-content">
                                <span class="post-date">June 20, 2018</span>
                                <p class="post-title">Elon Musk: Tesla worker admitted to sabotage</p>
                                <a href="#" class="post-author">By Michael Smith</a>
                            </div>
                        </div>

                        <!-- Single News Area -->
                        <div class="single-blog-post style-3">
                            <!-- Blog Thumbnail -->
                            <div class="blog-thumbnail">
                                <a href="#"><img src="{% static 'img/bg-img/12.jpg' %}" alt=""></a>
                                <a href="#" class="video-btn"><i class="fa fa-play" aria-hidden="true"></i></a>
                            </div>

                            <!-- Blog Content -->
                            <div class="blog-content">
                                <span class="post-date">June 20, 2018</span>
                                <p class="post-title">Rachel Sm ith breaks down while discussing border crisis </p>
                                <a href="#" class="post-author">By Michael Smith</a>
                            </div>
                        </div>

                        <!-- Single News Area -->
                        <div class="single-blog-post style-3">
                            <!-- Blog Thumbnail -->
                            <div class="blog-thumbnail">
                                <a href="#"><img src="{% static 'img/bg-img/13.jpg' %}" alt=""></a>
                                <a href="#" class="video-btn"><i class="fa fa-play" aria-hidden="true"></i></a>
                            </div>

                            <!-- Blog Content -->
                            <div class="blog-content">
                                <span class="post-date">June 20, 2018</span>
                                <p class="post-title">Dow falls 287 points as trade war fears escalate</p>
                                <a href="#" class="post-author">By Michael Smith</a>
                            </div>
                        </div>

                        <!-- Single News Area -->
                        <div class="single-blog-post style-3">
                            <!-- Blog Thumbnail -->
                            <div class="blog-thumbnail">
                                <a href="#"><img src="{% static 'img/bg-img/11.jpg' %}" alt=""></a>
                                <a href="#" class="video-btn"><i class="fa fa-play" aria-hidden="true"></i></a>
                            </div>

                            <!-- Blog Content -->
                            <div class="blog-content">
                                <span class="post-date">June 20, 2018</span>
                                <p class="post-title">Elon Musk: Tesla worker admitted to sabotage</p>
                                <a href="#" class="post-author">By Michael Smith</a>
                            </div>
                        </div>

                        <!-- Single News Area -->
                        <div class="single-blog-post style-3">
                            <!-- Blog Thumbnail -->
                            <div class="blog-thumbnail">
                                <a href="#"><img src="{% static 'img/bg-img/12.jpg' %}" alt=""></a>
                                <a href="#" class="video-btn"><i class="fa fa-play" aria-hidden="true"></i></a>
                            </div>

                            <!-- Blog Content -->
                            <div class="blog-content">
                                <span class="post-date">June 20, 2018</span>
                                <p class="post-title">Rachel Sm ith breaks down while discussing border crisis </p>
                                <a href="#" class="post-author">By Michael Smith</a>
                            </div>
                        </div>

                        <!-- Single News Area -->
                        <div class="single-blog-post style-3">
                            <!-- Blog Thumbnail -->
                            <div class="blog-thumbnail">
                                <a href="#"><img src="{% static 'img/bg-img/13.jpg' %}" alt=""></a>
                                <a href="#" class="video-btn"><i class="fa fa-play" aria-hidden="true"></i></a>
                            </div>

                            <!-- Blog Content -->
                            <div class="blog-content">
                                <span class="post-date">June 20, 2018</span>
                                <p class="post-title">Dow falls 287 points as trade war fears escalate</p>
                                <a href="#" class="post-author">By Michael Smith</a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ##### Video Area End ##### -->

<!-- ##### Top News Area Start ##### -->
<div class="top-news-area section-padding-100">
    <div class="container">
        <div class="row">

            <!-- Single News Area -->
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="single-blog-post style-2 mb-5">
                    <!-- Blog Thumbnail -->
                    <div class="blog-thumbnail">
                        <a href="#"><img src="{% static 'img/bg-img/4.jpg' %}" alt=""></a>
                    </div>

                    <!-- Blog Content -->
                    <div class="blog-content">
                        <span class="post-date">June 20, 2018</span>
                        <a href="#" class="post-title">Elon Musk: Tesla worker admitted to sabotage</a>
                        <a href="#" class="post-author">By Michael Smith</a>
                    </div>
                </div>
            </div>

            <!-- Single News Area -->
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="single-blog-post style-2 mb-5">
                    <!-- Blog Thumbnail -->
                    <div class="blog-thumbnail">
                        <a href="#"><img src="{% static 'img/bg-img/5.jpg' %}" alt=""></a>
                    </div>

                    <!-- Blog Content -->
                    <div class="blog-content">
                        <span class="post-date">June 20, 2018</span>
                        <a href="#" class="post-title">Rachel Sm ith breaks down while discussing border crisis </a>
                        <a href="#" class="post-author">By Michael Smith</a>
                    </div>
                </div>
            </div>

            <!-- Single News Area -->
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="single-blog-post style-2 mb-5">
                    <!-- Blog Thumbnail -->
                    <div class="blog-thumbnail">
                        <a href="#"><img src="{% static 'img/bg-img/6.jpg' %}" alt=""></a>
                    </div>

                    <!-- Blog Content -->
                    <div class="blog-content">
                        <span class="post-date">June 20, 2018</span>
                        <a href="#" class="post-title">Dow falls 287 points as trade war fears escalate</a>
                        <a href="#" class="post-author">By Michael Smith</a>
                    </div>
                </div>
            </div>

            <!-- Single News Area -->
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="single-blog-post style-2 mb-5">
                    <!-- Blog Thumbnail -->
                    <div class="blog-thumbnail">
                        <a href="#"><img src="{% static 'img/bg-img/7.jpg' %}" alt=""></a>
                    </div>

                    <!-- Blog Content -->
                    <div class="blog-content">
                        <span class="post-date">June 20, 2018</span>
                        <a href="#" class="post-title">Elon Musk: Tesla worker admitted to sabotage</a>
                        <a href="#" class="post-author">By Michael Smith</a>
                    </div>
                </div>
            </div>

            <!-- Single News Area -->
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="single-blog-post style-2 mb-5">
                    <!-- Blog Thumbnail -->
                    <div class="blog-thumbnail">
                        <a href="#"><img src="{% static 'img/bg-img/8.jpg' %}" alt=""></a>
                    </div>

                    <!-- Blog Content -->
                    <div class="blog-content">
                        <span class="post-date">June 20, 2018</span>
                        <a href="#" class="post-title">Rachel Sm ith breaks down while discussing border crisis </a>
                        <a href="#" class="post-author">By Michael Smith</a>
                    </div>
                </div>
            </div>

            <!-- Single News Area -->
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="single-blog-post style-2 mb-5">
                    <!-- Blog Thumbnail -->
                    <div class="blog-thumbnail">
                        <a href="#"><img src="{% static 'img/bg-img/9.jpg' %}" alt=""></a>
                    </div>

                    <!-- Blog Content -->
                    <div class="blog-content">
                        <span class="post-date">June 20, 2018</span>
                        <a href="#" class="post-title">Dow falls 287 points as trade war fears escalate</a>
                        <a href="#" class="post-author">By Michael Smith</a>
                    </div>
                </div>
            </div>

            <div class="col-12">
                <div class="load-more-button text-center">
                    <a href="#" class="btn newsbox-btn">Load More</a>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- ##### Top News Area End ##### -->

<!-- ##### Add Area Start ##### -->
<div class="big-add-area mb-100">
    <div class="container">
        <a href="#"><img src="{% static 'img/bg-img/add2.png' %}" alt=""></a>
    </div>
</div>
<!-- ##### Add Area End ##### -->
{% endblock content %}