* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", serif;
}
.container {
  width: 85%;
  margin: 0 auto;
}

.section-title{
  font-weight: 500;
  text-transform: uppercase;
  font-size: .875rem;
  color: #ff8f00;
  letter-spacing: .0625rem;
  line-height: 1.5em;
}

.section-subtitle{
  font-weight: 500;
  font-size: 38px;
  line-height: 1.4em;
  color: #333;
  padding-bottom: 10px;
}

.section-paragraph{
  line-height: 2em;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: white;
  color: white;
  padding: 20px 40px;
  box-shadow: 0 0 30px rgba(7, 51, 84, 0.17);
  position: fixed;
  top: 0;
  z-index: 10;
}
.navbar .brand a {
  font-size: 23px;
  text-decoration: none;
  color: #20292f;
  font-weight: 600;
}
.navbar ul {
  display: flex;
  list-style: none;
}
.navbar ul li {
  margin: 0 0 0 40px;
}
.navbar ul li a {
  text-decoration: none;
  color: #20292f;
  font-size: 15px;
  font-weight: 500;
}
.navbar ul li a:hover {
  color: #71818c;
  transition: all 0.3s ease;
}
/* /Navbar */

/* Home */
.home {
  height: 100vh;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center bottom 0px;
  background-image: url(../assets/images/hosting-company-01.png),
    linear-gradient(237deg, #46b3ff 0%, #0752fe 100%) !important;
}
.home .container {
  height: 100%;
}
.home__content {
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  gap: 80px;
}
.home__content-img img {
  width: 420px;
}
.home__content-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.home__content-info h1 {
  color: white;
  font-size: 52px;
  text-shadow: 0em 0.1em 2em rgba(0, 0, 0, 0.4);
  line-height: 1.2em;
}
.home__content-info p {
  color: white;
  font-size: 16px;
  text-shadow: 0em 0.1em 2em rgba(0, 0, 0, 0.4);
  line-height: 2em;
}
.home__content-info button {
  width: fit-content;
  padding: 14px 38px;
  border-radius: 5px;
  letter-spacing: 1px;
  font-size: 13px;
  color: #ffffff;
  border-width: 0px;
  border-color: rgba(0, 0, 0, 0);
  text-transform: uppercase;
  background-color: #263547;
  font-weight: 600;
  cursor: pointer;
}
/* /Home */

/* Statistics */
.statistics__items {
  display: flex;
  justify-content: flex-start;
  gap: 50px;
}
.statistics__item {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
}
.statistics__item span {
  color: #2970fa;
  font-size: 28px;
}
.statistics__item h3 {
  color: #000000;
  font-size: 28px;
}
.statistics__item p {
  font-size: 14px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.4);
  margin-left: 3px;
}
/* /Statistics */

/* Services */
.services {
  margin-top: 54px;
}
.services__grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 2fr;
}
.services__grid > div {
  padding: 35px;
}

.box_1 {
  grid-row: 1 / 2;
  height: fit-content;
}
.box_1 button {
  color: #ffffff;
  border-width: 0px;
  border-color: rgba(0, 0, 0, 0);
  border-radius: 5px;
  letter-spacing: 1px;
  font-size: 13px;
  padding: 14px 38px;
  margin-top: 20px;
  text-transform: uppercase;
  background-color: #2970fa;
  box-shadow: 0px 20px 30px 0px rgba(41, 112, 250, 0.2);
  transition: letter-spacing 300ms ease 0ms;
  cursor: pointer;
}

.box_2 {
  grid-row: 1 / 3;
  grid-column: 2 / 3;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.box_3 {
  display: flex;
  gap: 45px;
  grid-row: 2 / 3;
  height: 100%;
}
.services__card hr{
  width: 60px;
  height: 1.5px;
  box-shadow: none;
  border: 0;
  border-radius: .5px;
  border-color: #ff8f00;
  background-color: #ff8f00;
  margin: 25px 30px;
}
.margin-top{
  margin-top: 120px;
}
.services__card-info{
  background-image: linear-gradient(to top, white 75%, transparent);
  padding: 0 30px 30px 30px;
  border-radius: 24px;
  box-shadow: 0px 90px 160px 0px rgba(0, 0, 0, 0.06);
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.services__card-info button{
  width: fit-content;
  color: #2970fa;
    border-width: 0px;
    border-color: rgba(0, 0, 0, 0);
    border-radius: 5px;
    letter-spacing: 1px;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 600;
    padding-right: 2em;
    padding-left: 0.7em;
    background-color: rgba(255, 255, 255, 0);
    cursor: pointer;
}
.services__card-info button i{
  background-color: #2970fa;
  color: white;
  padding: 2px;
  border-radius: 100%;
}
.services__card img{
  margin-left: 25px;
}
/* /Services */

/* Features */
.features__content{
  margin-top: 54px;
  display: flex;
  justify-content: center;
  gap: 120px;
}
.features__content img{
  width: 510px;
}
.features__cards{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  row-gap: 40px;
  margin-bottom: 120px;
}
.features__card{
  display: flex;
  justify-content: center;
  width: 30%;
  gap: 20px;
}
.features__card  img{
  width: 60px;
  height: 60px;
}
.features__card p{
  line-height: 2em;
}
.features hr{
  height: 1px;
  box-shadow: none;
  border: 0;
  border-radius: .5px;
  background-color: #ececec;
  margin: 54px auto;
}
/* /Features */

/* Pricing */
.pricing__bg{
  background-image: url('../assets/images/hosting-company-01.png'), linear-gradient(180deg, #ffffff 0%, #eef9ff 100%);
  background-size: contain;
  background-position: center bottom 0px;
  background-repeat: no-repeat;
}

.pricing{
  margin-top: 54px;
  text-align: center;
}

.pricing__cards{
  margin: 54px auto;
  display: flex;
  justify-content: space-between;
}
.pricing__card{
  width: 28%;
  background-color: #ffffff;
  border-radius: 24px;
  box-shadow: 0px 90px 160px 0px rgba(0, 0, 0, 0.06);
}
.pricing__card-header{
  text-align: left;
  padding: 40px;
}
.pricing__card-header h1{
  font-size: 18px;
  line-height: 1.4em;
  margin-bottom: 30px;
}
.card-pricing{
  display: flex;
  align-items: baseline;
}
.card-pricing span{
  font-size: 18px;
  font-weight: 400;
  color: #999;
  position: relative;
  top: -22px;
  left: -2px;
}
.card-pricing h3{
  font-size: 50px;
  font-weight: 500;
  line-height: 1.03em;
  color: #000000;
}
.card-pricing p{
  font-size: 16px;
  font-weight: 400;
  color: #999;
}
.pricing__card-content{
  padding: 40px 60px 0 60px;
  text-align: left;
}
.pricing__card-content ul li{
  font-size: 16px;
  line-height: 1.6em;
  padding: 0 0 1.6em 14px;
  word-wrap: break-word;
}
.pricing__card button{
  border-width: 10px;
  border-color: rgba(0, 0, 0, 0);
  border-radius: 5px;
  font-size: 13px;
  text-transform: uppercase;
  transition: letter-spacing 300ms ease 0ms;
  margin-bottom: 25px;
  padding: 0.3em 1em;
  font-weight: 600;
}
.pricing__card hr{
  height: 1px;
  box-shadow: none;
  border: 0;
  border-radius: .5px;
  background-color: #ececec;
}

.orange-card h1{
  color: #ff8f00;
}
.orange-card button{
  color: #ff8f00;
  background-color: rgba(255, 143, 0, 0.1);
}
.orange-card ul li::marker{
  color: #ff8f00;
}

.blue-card h1{
  color: #2970fa;
}
.blue-card button{
  color: #fff;
  background-color: #2970fa;
  box-shadow: 0px 20px 30px 0px rgba(41, 112, 250, 0.2);

}
.blue-card ul li::marker{
  color: #2970fa;
}

.green-card h1{
  color: #29cf8d;
}
.green-card button{
  color: #29cf8d;
  background-color: rgba(41, 207, 141, 0.1);;
}
.green-card ul li::marker{
  color: #29cf8d;
}
.no-active{
  color: #cccccc
}
/* /Pricing */

/* Managment */
.managment{
  margin-top: 104px;
  display: flex;
  gap: 120px;
}
.managment__content-goups{
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 28px;
}
.managment__content-goup{
  display: flex;
  gap: 20px;
}
.managment__content-goup img{
  width: 40px;
  height: 40px;
}
.managment__content-goup h2{
  color: #333;
  font-size: 16px;
  line-height: 1.4em;
}
.managment__content-goup p{
  color: #666;
  font-weight: 500;
  line-height: 2em;
  font-size: 14px;
}
.managment__content-goup > div{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.managment__action img{
  width: 510px;
}
.managment__action button{
  color: #ffffff;
    border-width: 0px;
    border-color: rgba(0, 0, 0, 0);
    border-radius: 5px;
    letter-spacing: 1px;
    font-size: 13px;
    text-transform: uppercase;
    background-color: #2970fa;
    letter-spacing: 1px;
    padding: 14px 38px;
    margin-top: 20px;
    box-shadow: 0px 20px 30px 0px rgba(41, 112, 250, 0.2);
    transition: letter-spacing 300ms ease 0ms;
}
/* /Managment */

/* Chat */
.chat__bg{
  position: relative;
  background-repeat: no-repeat;
  padding-top: 15vw;
  padding-bottom: 8vw;
  background-size: contain;
  background-position: center top;
  background-image: url('../assets/images/hosting-company-02.png'), linear-gradient(150deg, #ffba61 0%, #ffe970 100%);
}
.chat__bg-end{
  display: inline-block;
  position: absolute;
  pointer-events: none;
  width: 100%;
  z-index: 1;
  height: 100px;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: url('../assets/images/download.svg');
}
.chat{
  width: 700px;
  margin: 54px auto;
  text-align: center;
}
.chat h1{
  font-weight: 500;
  font-size: 3.25rem;
  line-height: 1.2em;
  color: #fff;
  text-shadow: 0em 0.1em 2em rgba(0, 0, 0, 0.4);
}
.chat p{
  margin: 30px auto;
  color: white;
  word-wrap: break-word;
  line-height: 2em;
  text-shadow: 0em 0.1em 2em rgba(0, 0, 0, 0.4);
}
.chat button{
  color: #ffffff;
  padding: 14px 38px;
    border-width: 0px;
    border-color: rgba(0, 0, 0, 0);
    border-radius: 5px;
    letter-spacing: 1px;
    font-size: 13px;
    text-transform: uppercase;
    background-color: #263547;
    box-shadow: 0px 20px 30px 0px rgba(0, 0, 0, 0.2);
}
/* /Chat */

/* Setup */
.setup{
  margin: 120px auto;
  display: flex;
  gap: 50px;
}
.setup img{
  width: 510px;
}
.setup ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 35px;
  margin: 50px auto;
}
.setup ul li{
  font-weight: 600;
  font-size: 16px;
  line-height: 1.4em;
  color: #333;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 20px;
}
.setup ul li i{
  font-size: 22px;
    color: #ff8f00;
}
.setup button{
  color: #ffffff;
  border-width: 0px;
  border-color: rgba(0, 0, 0, 0);
  border-radius: 5px;
  letter-spacing: 1px;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  background-color: #2970fa;
  padding: 14px 38px;
  box-shadow: 0px 20px 30px 0px rgba(41, 112, 250, 0.2);
}
/* /Setup */

/* Testimonials */
.testimonials{
  text-align: center;
  margin: 120px auto;
}
.testimonials__cards{
  display: flex;
  justify-content: space-around;
  margin-top: 54px;
}
.testimonials__card{
  width: 30%;
  padding: 30px;
  background-image: url('../assets/images/hosting-company-04.png');
  background-size: initial;
    background-position: center bottom 0px;
    overflow: hidden;
    background-repeat: no-repeat;
    background-color: #ffffff;
    box-shadow: 0px 90px 160px 0px rgba(0, 0, 0, 0.06);
    border-radius: 24px;
}
.testimonials__card img{
  width: 94px;
  height: 94px;
  border-radius: 100%;
}
.testimonials__card p{
  color: #666;
  line-height: 2em;
  margin-top: 20px;
  font-size: 14px;
}
.testimonials__card-author{
  color: #666;
  margin-top: 40px;
  font-size: 14px;
}
.testimonials__card-author h4{
  font-weight: 600;
}
/* /Testimonials */

/* Guaranteed */
.guaranteed{
  text-align: center;
}
.guaranteed__cards{
  margin-top: 54px;
  display: flex;
  justify-content: center;
  gap: 60px;
}
.guaranteed__card{
  width: 510px;
  text-align: start;
  background-position: right bottom 0px;
  background-size: contain;
  border-radius: 24px 24px 24px 24px;
  overflow: hidden;
  background-repeat: no-repeat;
  box-shadow: 0px 90px 160px 0px rgba(0, 0, 0, 0.06);
  padding: 40px;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.guaranteed__card-blue{
  background-color: #7EBEC5;
  background-image: url('../assets/images/guaranteed/hosting-company-06.png'), linear-gradient(237deg, #46b3ff 0%, #0752fe 100%);
}
.guaranteed__card-orange{
  background-color: #7EBEC5;
  background-image: url('../assets/images/guaranteed/hosting-company-07-1.png'), linear-gradient(150deg, #ffba61 0%, #ffdc71 100%);
}
.guaranteed__card h2{
  color: white;
  line-height: 1.2em;
}
.guaranteed__card p{
  color: white;
  line-height: 2em;
}
.guaranteed__card button{
  color: #ffffff;
    border-width: 10px;
    border-color: rgba(0, 0, 0, 0);
    border-radius: 5px;
    letter-spacing: 1px;
    font-size: 13px;
    text-transform: uppercase;
    background-color: #263547;
    box-shadow: 0px 20px 30px 0px rgba(0, 0, 0, 0.1);
    padding: 0.3em 1em;
    width: fit-content;
}
/* /Guaranteed */

/* Discount */
.discount__bg{
  margin-top: 54px;
  background-image: url('../assets/images/hosting-company-11.png'), linear-gradient(237deg, #46b3ff 0%, #0752fe 100%);
  background-size: contain;
  background-position: center top;
  background-repeat: no-repeat;
  padding-top: 12vw;
  padding-bottom: 10vw;
}
/* /Discount */

/* Footer */
.footer__bg{
  background-color: #222;
}
.footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #666;
}
.footer > div{
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 14px;
}
.footer p{
  font-weight: 500;
}
.footer p span{
  font-weight: 700;
  line-height: 1.7em;
  display: inline;
  cursor: pointer;
}
.footer p span:hover{
  color: #444444;
  transition: all .4s ease-in-out;
}
.footer div i{
  text-align: right;
  font-size: 24px;
  margin-left: 20px;
  cursor: pointer;
}
.footer div i:hover{
  color: #2ea3f2;
  transition: all .4s ease-in-out;
}
/* /Footer */