{% extends 'base.html' %}

{% block content %}
{% if user.is_authenticated %}
<div class="d-flex bg-light mt-4 p-4">
  <div class="w-75">
    <h2>Assalomu alaykum!</h2>
    <h3>Xush kelibsiz, {{ user.username | title }}</h3>
    <a class="btn btn-primary btn-sm mt-2" href="{% url 'article_list' %}">Maqolalar</a>
  </div>
  <div class="w-25 d-flex justify-content-end align-items-start">
    <form method="post" action="{% url 'logout' %}">
      {% csrf_token %}
      <button class="btn btn-danger btn-sm" type="submit">Chiqib ketish</button>
    </form>
  </div>
</div>

{% else %}
<p>Saytga kirmagansiz</p>
<a href="{% url 'login' %}">Kirish</a> |
<a href="{% url 'signup' %}">Ro'yxatdan o'tish</a>
{% endif %}
{% endblock content %}