[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-decouple = "*"
psycopg2 = "*"
pillow = "*"
djangorestframework-simplejwt = "*"
djangorestframework = "*"
phonenumbers = "*"
twilio = "*"
django = "*"

[dev-packages]

[requires]
python_version = "3.13"
