{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %} Login {% endblock %}

{% block content %}
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col-6">
        <h2 class="mb-3">Login</h2>
        <form class="uniForm" method="POST" action="{% url 'users:login' %}">
          {% csrf_token %}
          {{ login_form | crispy }}
          <p>Don't have an account? <a class="link-offset-2 link-underline link-underline-opacity-0" href="{% url 'users:register' %}">Register here</a>.</p>
          <button class="btn btn-primary" type="submit">Submit</button>
        </form>
      </div>
    </div>
{% endblock %}