{% extends 'base.html' %}

{% block title %} Profile {% endblock %}

{% block content %}
<div class="card shadow-sm" style="max-width: 540px; margin: 0 auto;">
  <div class="row g-0">
    <div class="col-md-4 p-3 text-center">
      <img src="{{ user.avatar.url }}" class="rounded-circle img-thumbnail" alt="user_avatar">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title d-flex justify-content-between align-items-center">
          <b>{{ user.first_name }} {{ user.last_name }}</b>
          <a href="{% url 'users:profile-edit' %}" class="btn btn-sm btn-outline-primary">Edit</a>
        </h5>
        <div class="mt-4">
          <span class=" text-muted"> <b>Username:</b> {{ user.username }} </span>
          <br>
          <span class=" text-muted"> <b>Email:</b> {{ user.email }} </span>
          <br>
          <span class=" text-muted"> <b>Joined:</b> {{ user.date_joined | date:"F j, Y" }} </span>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}